*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid rgb(0, 0, 0);
}



.bg-blue{
    background-color: rgb(107, 107, 247);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-flex {
    display: flex;
    justify-content: center;
    width: 80%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inside-wrapper{
    width: 80%;
}

.image-section{
    display: flex;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 70%;
}

.text{
    width: 30%;
}

.max-width{
    width: 100%;
}

footer{
    background-color: grey;
}

.footer-top{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.footer-top, .footer-bottom{
    width: 80%;
}